header{
    text-align: center;
    margin: auto;

}

div.forImages{
    border: solid 5px black;
    max-width: 75%;
    margin: auto;
    height: 450px;
    background: rgba(0, 0, 0, 0.918);

}

form.forText{
    border: solid 5px black;
    background: black;
    font: forestgreen;
    max-width: 75%;
    margin: auto;
    height: 300px;
}

