.crumbs {
    padding-left: 100px;
    color: white;
    border: aquamarine solid 2px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.bootstrap {
    /* assign to first column in left of grid */
    border: red 2px solid;
    grid-column: 1/3;
}

.navlinks {
    /* assign to last column at right of grid */
    border: purple 2px solid;
    margin-right: 100px;
    text-align: end;
}

.navbar {
    background-color:rgba(0, 0, 0, 0.507);
    padding: 1px;
}

.header {
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 200px;
    background-color: rgba(0, 0, 0, 0.507);
}

.blog-list {
    border: black solid 2px;
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: 2fr 1fr;
}

.post-container {
    display: grid;
    padding: 25px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    background-color: red;
}

.buttonspace {
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
}

button {
    font-weight: bold;
    font-size: large;
    background-color: rgb(0, 138, 138);
    grid-column: 3;
}

.credit-date {
    color: rgb(36, 36, 36);
}

.footer {
    justify-content: center;
    text-align: center;
}