.badgeinput {
  margin: 20px;
  border: solid rgb(172, 109, 255) 10px;
  border-radius: 3%;
  width: 800px;
  height: 450px;
  background-color: rgb(180, 123, 255);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

.badgeform {
  padding: 30px;
}

.badgeheader {
  height: 40px;
  background-color: rgb(134, 211, 255);
}

.badge {
  height: 300px;
  border: 2px solid gray;
  border-radius: 3%;
  padding: 30px;
  width: 500px;
  margin: 20px;
}

input {
  margin: 10px;
  width: 40%;
}

textarea {
  height: 170px;
  width: 500px;
}

button {
  padding: 8px;
  font-size: large;
  color: purple;
  background-color: rgb(255, 255, 255);
}

h5 {
  background-color: cornsilk;
  margin: 20px;
  padding: 3px;
}

p { 
  background-color: cornsilk;
  height: 30px;
  padding: 10px;
}