*{
    align-items: center;
    margin-left: 220px;
    margin-top: 50px;
}

div.blueStripe{
    background-color: darkblue;
    height: 350px;
    width:170px;
    margin-left: -10px;
}

div.whiteStripe{
    background-color: white;
    height: 350px;
    width:170px;
    margin-top: -350px;
    margin-left: 160px;
}

div.redStripe{
    background-color: red;
    height: 350px;
    width: 170px;
    margin-top: -350px;
    margin-left: 330px;
}