img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app {
    background-image: url('https://media2.giphy.com/media/w4F1PAAjTIbK0/giphy.gif?cid=790b761128da0b11a728172ed16dfb0517a67029e3ba4054&rid=giphy.gif');
}

#id {
    background-image: url('')
}