body {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.diceDisplay{
  background-color: blueviolet;
  height: 200px;
  width: 200px;
  text-align: center;
}
