*{
    align-items: center;
    margin-top: 50px;
    margin-left: 165px;
}

div.blackStripe{
    background-color: black;
    height: 100px;
    width: 450px;
}

div.redStripe{
    background-color: rgb(216, 0, 0);
    height: 100px;
    width: 450px;
    margin-top: 0px;
}

div.yellowStripe{
    background-color: gold;
    height: 100px;
    width: 450px;
    margin-top: 0px;
}