/* Button stylings */
input.operand {
    width: 50px;
    padding: 3px
}

input.mid-integer {
    width: 30px;
    padding: 23px;
}

div > input {
    border-radius: 10px;
    margin: 3px;
}

input#right-lane {
    margin: 10px;
    margin-top: 29px;
    padding: 10px;
    text-align: center;
}


/* Calc body stylings */
div.calc-body {
    display: relative;
    height: 475px;
    width: 285px;
    background-color: rgb(203, 193, 252);
    border: solid 10px rgb(190, 178, 252);
    border-radius: 60px;
}


/* viewer stylings */
div.view-window {
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    text-align: right;
    max-width: 100%;
    margin: 20px;
    height: 80px;   
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

div.buttons {
    display: flex;
    align-items: stretch;
    border: transparent solid 3px;
    width: 100%;
    height: 330px;
}


/* containers for buttons stylings */
div.top-oper {
    position: fixed;
    align-self: flex-start;
    width: 315px;
    margin-left: 26px;
    margin-top: -10px;
}

div.mid-oper {
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    height: 240px;
}

div.right-col-oper {
    height: 100%;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-direction: column;
}

