* {
    background-color: rgb(51, 116, 236);
    text-align: center;
    text-justify: center;
}

@media only screen and (min-width: 375px) {
    /* icons */
    .sun {
        color: rgb(250, 212, 0);
    }

    .cloud {
        color: rgb(161, 173, 194);
    }

    /* links */
    .link {
        text-decoration: none;
        font-weight: bold;
        margin: 15px;
    }

    .link:visited {
        color: white;
    }

    /* components */
    div.app {
        padding: 35px;
        display: grid;
    }

    .navbar {

    }

    .weekly {
        border: solid black 2px;
        height: 550px;
        margin-top: 50px;
        display: grid;
        background-color: rgba(0, 0, 0, 0.356);
    }

    .about {
        color: white;
        font-weight: 450px;
        height: 554px;
        margin-top: 50px;
    }

    .footer {
        color:rgb(1, 47, 133);
    }

    /* component views */
    .main {
        border: solid black 2px;
        border-left: transparent;
        border-right: transparent;
        height: 550px;
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.356);
    }

    .weeklyDisp {
        color: white;

    }

    /* table views */
    thead {
        background-color: rgba(77, 77, 77);
    }

    .firstday{

    }

    .secday{

    }


}