* {
    background-color: rgba(141, 141, 141, 0.616);
    /* insert image that changes depending upon forecast */
    background-image: ;
    text-align: center;
    text-justify: center;
}

@media only screen and (min-width: 375px) {
    /* icons */
    .sun {
        color: rgb(250, 212, 0);
    }

    .cloud {
        color: rgb(161, 173, 194);
    }

    /* links */
    .link {
        text-decoration: none;
        font-weight: bold;
        margin: 15px;
    }

    .link:visited {
        color: white;
    }

    /* components */
    div.app {
        padding: 35px;
        display: grid;
    }

    .navbar {

    }

    .weekly {
        border: solid black 2px;
        height: 550px;
        /* margin-top: 50px; */
        display: grid;
        background-color: rgba(0, 0, 0, 0.356);
    }

    .about {
        color: white;
        font-weight: 450px;
        height: 554px;
        margin-top: 50px;
    }

    .footer {
        color:rgb(1, 47, 133);
    }

    /* component views */
    .main {
        /* border: solid black 2px;
        border-left: transparent;
        border-right: transparent; */
        height: 550px;
        margin-top: 50px;
        font-size: 13px;
        text-align: center;
        text-justify: center;
        /* background-color: rgba(0, 0, 0, 0.356); */
    }

    .weeklyDisp {
        color: white;

    }

    /* table views */
    thead {
        background-color: rgba(77, 77, 77, 0);
    }

    td {
        height: 30px;
        border-spacing: 20px;
        border: solid transparent 12px;
    }

    th {
        text-align: center;
        text-justify: center;
        font-size: larger;
    }

    .secday{

    }
}