#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#name {
    color: peachpuff;
}

#container {
    align-items: center;
    justify-self: center;

}

#messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
    overflow-y: scroll;
}

#main {
    margin: 30px;
    border: 1px solid black;
    padding: 10px;
}

.message {
    padding: 5px;
}

.right {
    align-self: flex-end;
    text-align: right;
    background-color: rgba(241, 255, 92, 0.523);
    list-style: none;
    border-radius: 5px;
    padding: 5px;
}

.left {
    align-self: flex-start;
    background-color: rgba(222, 135, 222, 0.447);
    list-style: none;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
}

.theme-one {
background-color: linear-gradient(to left, rgb(99, 191, 245) burlywood);
}

.theme-two {
    background-color: linear-gradient(to left, rgb(255, 66, 66) rgb(34, 34, 34));
}
