#flag{
    top: 300px;
    left: 800px;
    position: relative;
    height: 500px;
    width: 775px;
    display: flex;
    flex-direction: column;
}

div.redBlock {
    background-color: red;
    height: 250px;
}

div.greenBlock{
    background-color: green;
    height: 250px;
}

div.whiteBlock{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height:492px;
    width: 275px;
    border: black solid;
    border-right: transparent;
}