.title {
    text-align: center;
}

.main {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

#add-item {
    border: 1px solid black;
}

#input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
}

.list-item {
    text-align: center;
    font-style: italic;
    border-radius: 25px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

.erase-style {
    height: 25px;
    background-color: rgb(196, 196, 196);
    margin: 8px;
}

.edit-style {
    height: 25px;
    background-color: rgb(196, 196, 196);
}

.save-style{
    height: 25px;
    margin: 8px;
    background-color: rgb(242, 242, 242);
}