body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* this will be for phone but is also dev view  */
body {
  margin: 2vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto;
}

div.bannerWrapper {
  margin: 0;
}

div.bannerWrapper > h1 {
  font-size: 7vh;
}

div.bannerWrapper > img {
  height: 40vh;
}

.navbarContainer > Link > i {
  color: black;
  font-style: none;
}

/* profile view */
div.listprofileview-Container {
  margin: auto;
  height: 80%;
  grid-template-columns: auto auto;
  grid-template-rows: 3vh auto;
  border: red solid 3px;
}

div.listprofileview-Container > i {
  font-size: 30px;
}