* {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align:  center;
    text-justify: center;
    margin-top: 100px;
    background-color: bisque;
}

.trackInfo {
    font-size: x-large;
    padding: 7px;
    color: rgb(54, 54, 54);
    border-radius: 8px;
    width: 37%;
    background-color: rgba(185, 185, 185, 0.377);
}


.fa {
    padding: 10px;
    margin-top: 10px;
    font-size: 90px;
    color: rgba(0, 0, 85, 0.904);
}

.fa:hover {
    cursor: pointer;
}

.reset {
    font-size: x-large;
    padding: 7px;
    cursor: pointer;
    color: rgba(31, 31, 31, 0.87);
}
