* {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.padcontainer {
    border: darkgray groove;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: pink;
}

.djpad { 
    height: 50px;
    width: 50px;
    border: rgb(53, 53, 53) solid 2px;
    background-color: rgb(170, 170, 170);
}

.black { 
    height: 50px;
    width: 50px;
    border: rgb(53, 53, 53) solid 2px;
    background-color: rgb(0, 0, 0);
}

.white { 
    height: 50px;
    width: 50px;
    border: rgb(53, 53, 53) solid 2px;
    background-color: rgb(255, 255, 255);
}

.blue { 
    height: 50px;
    width: 50px;
    border: rgb(53, 53, 53) solid 2px;
    background-color: rgb(0, 0, 170);
}

.purple {
    height: 50px;
    width: 50px;
    border: rgb(53, 53, 53) solid 2px;
    background-color: rgb(132, 0, 255);
}